:root {
  --main-color: #ff0000;
  --gray-color: #7b7d7f;
  --black-color: #000000;
}

@font-face {
  font-family: Momken;
  src: url("../fonts/Arb/PrimaryFontMomken.ttf");
}
@font-face {
  font-family: Tahoma;
  src: url("../fonts/Arb/SecondaryFontTahoma.ttf");
}
@font-face {
  font-family: Thuluth;
  src: url("../fonts/Arb/StylingFontAThuluth.ttf");
}
@font-face {
  font-family: STIXTwoText;
  src: url("../fonts/Eng/PrimaryFont/STIXTwoText.ttf");
}
@font-face {
  font-family: STIXTwoTextItalic;
  src: url("../fonts/Eng/PrimaryFont/STIXTwoTextItalic.ttf");
}
@font-face {
  font-family: Avenir;
  src: url("../fonts/Eng/SecondaryFont/Avenir.ttc");
}
@font-face {
  font-family: AvenirNext;
  src: url("../fonts/Eng/SecondaryFont/Avenir.ttc");
}

body {
  font-family: Avenir;
  background-color: var(--black-color);
  font-weight: normal;
}
.font-ar {
  font-family: Thuluth;
  font-weight: 400;
  font-size: 31px;
}
.font-en {
  font-family: STIXTwoText;
  font-weight: 400;
  font-style: Italic;
  font-size: 23px;
  text-transform: uppercase;
}
.title {
  text-transform: uppercase;
  color: white;
}
.font-card {
  font-family: Avenir;
  font-size: 15px;
  text-align: center;
}
.padding-100 {
  padding: 100px 0;
}
.loader {
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-red {
  color: var(--main-color);
}

/* landing */
.landing-event-details {
  background-image: url("../image/Frame120.png");
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}
.landing {
  width: 100%;
  height: 850px;
  position: relative;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -3;
}
.carousel {
  height: 850px;
}
.carousel-item img {
  height: 850px;
  object-fit: cover;
}
.carousel-caption {
  bottom: 15%;
}

/* start scroll to top */
.scroll-top {
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow:
    #000000 5px 5px 15px,
    #4d4d4d -5px -5px 15px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  transition: 0.3s ease;
}
.top {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-top:hover {
  background-color: #131419;
  color: white;
}
/* end scroll to top */

/* start navbar */
.navbar {
  z-index: 999;
}
.fixed-top {
  background-color: rgb(38, 38, 38, 0.7);
}
.navbar-brand {
  color: var(--black-color);
}
.navbar-brand:hover {
  color: var(--black-color);
}
.nav-link {
  color: white;
  font-family: Avenir;
  font-weight: normal;
  font-size: 14px;
  font-weight: 400;
}
.nav-link:hover,
.nav-link.active {
  color: var(--main-color);
}
/* end navbar */

/* start landing */

.section-about {
  width: 40px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow:
    #000000 3px 3px 8px,
    #4d4d4d -1px -1px 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}
.animation {
  width: 4px;
  height: 12px;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 10px;
  animation-name: Moving;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes Moving {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-5px);
  }
}

.color-red-banner {
  color: var(--main-color);
  font-family: Momken;
  font-weight: 400;
  font-size: 68px;
  line-height: 75%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.color-white-banner {
  color: white;
  font-family: STIXTwoText;
  font-weight: 400;
  font-style: Italic;
  font-size: 54px;
  line-height: 94%;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
}
/* end landing */
.title-about-ar {
  font-family: Thuluth;
  font-weight: 400;
  font-size: 30px;
  line-height: 107%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.title-about-en {
  font-family: STIXTwoText;
  font-weight: 400;
  font-style: Italic;
  font-size: 27px;
  line-height: 107%;
  letter-spacing: -7%;
  text-align: center;
  text-transform: uppercase;
}
.list-about li .title-about {
  font-family: Thuluth;
  font-weight: 400;
  font-size: 18px;
}
.list-about li p {
  font-family: STIXTwoText;
  font-weight: 400;
  font-style: Italic;
  font-size: 18px;
  text-transform: uppercase;
}

.main-title {
  margin-bottom: 80px;
  position: relative;
}
.main-title h1 {
  font-family: Thuluth;
  font-weight: 400;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: -10px;
}
.main-title h3 {
  font-family: STIXTwoText;
  font-weight: 400;
  font-style: Italic;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -7%;
  text-align: center;
  text-transform: uppercase;
}

.card-event {
  border: 1px solid #474747;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 10px;
}
.card-event .title-ar {
  font-family: Momken;
  font-weight: 400;
  font-size: 24px;
  line-height: 107%;
  letter-spacing: 0%;
}
.card-event .title-en {
  font-family: Avenir;
  font-weight: normal;
}
.title-artist {
  font-family: Avenir;
  font-size: 24px;
}
.pargraph-artist {
  font-family: Avenir;
  font-weight: 500;
  text-align: center;
}
.data-event ul {
  list-style: none;
  padding: 0;
  display: flex;
  color: white;
  font-weight: normal;
  font-size: 14px;
}
.data-event ul li {
  border: 1px solid #474747;
  padding: 5px;
  font-size: 12px;
}
.bg-involved {
  background-image: url("../image/bg-involved.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 572px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* z-index: 99999; */
}
.bg-involved .title-en {
  font-family: Avenir;
  font-size: 20px;
}
.bg-involved .title-ar {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
}
.bg-involved .title {
  font-family: STIXTwoText;
  font-weight: 400;
  font-style: Italic;
  font-size: 46px;
  line-height: 107%;
  letter-spacing: -7%;
  text-align: center;
}

.p-project {
  font-family: Avenir;
  font-size: 14px;
}
.contact-data {
  margin: 50px 0;
}
.contact-data p {
  opacity: 50%;
  margin-bottom: 0;
}
.contact-data a {
  text-decoration: none;
  color: white;
}
.p-contact {
  font-family: Avenir;
}
.form-control,
.form-select {
  background-color: transparent;
  border-radius: inherit;
  border-bottom: 1px solid #ffffff33 !important;
  border: none;
  color: #8c8c8c;
}
.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
.footer {
  border: 1px solid #474747;
  background-color: #0f0f0f;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.link-footer {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: white;
}
.link-footer a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}
.link-footer a:hover {
  text-decoration: underline;
}

/* about page */
.list-about {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.bg-about {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url("../image/bg-about.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.line-about {
  height: 150px;
  position: relative;
}
.line-about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}
.list-about li a {
  color: #ffffff4d;
}
.list-about .active p {
  color: white;
}
.list-about .active .title-about {
  color: var(--main-color);
}
.list-about .active {
  position: relative;
}
.list-about .active::before {
  content: "";
  position: absolute;
  top: 125%;
  right: 50%;
  width: 1px;
  height: 122px;
  background-color: white;
}
.event-list {
  margin-bottom: 80px;
}
.event-list li {
  font-family: STIXTwoText;
  background-color: transparent;
  color: white;
  padding: 7px 15px;
  border-radius: 20px;
  border: 1px solid white;
  margin: 10px;
  cursor: pointer;
}

.event-list li.active,
.event-list li:hover {
  background-color: var(--main-color);
  color: white;
  padding: 7px 15px;
  border-radius: 20px;
  border: 1px solid var(--main-color);
}

.btn-banner {
  background-color: white;
  background-image: url("../image/img-btn.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px 20px;
  font-weight: bold;
  margin-top: 30px;
  transition: all 0.5s ease;
}
.btn-banner:hover {
  transform: scale(1.1);
  background-color: gainsboro;
}

.custom-btn {
  position: relative;
  border: none;
  padding: 16px 60px;
  margin-top: 30px;
  transition: all 0.5s ease;
  font-weight: 600;
  font-size: 16px;
  line-height: 107%;
  letter-spacing: -7%;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.custom-btn:hover {
  transform: scale(1.1);
  background-color: rgb(204, 204, 204);
}

/* Corner decorations */
.custom-btn::before,
.custom-btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
}

/* Top Left */
.custom-btn::before {
  top: 0px;
  left: 0px;
  border-left: none;
  border-top: none;
}

/* Bottom Right */
.custom-btn::after {
  bottom: 0px;
  right: 0px;
  border-right: none;
  border-bottom: none;
}

/* Extra corners using span */
.custom-btn span::before,
.custom-btn span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
}

.custom-btn span::before {
  top: 0px;
  right: 0px;
  border-right: none;
  border-top: none;
}

.custom-btn span::after {
  bottom: 0px;
  left: 0px;
  border-left: none;
  border-bottom: none;
}

.custom-btn2 {
  background-color: var(--black-color);
  color: white;
  position: relative;
  border: none;
  padding: 16px 60px;
  margin-top: 30px;
  transition: all 0.5s ease;
  font-weight: 600;
  font-size: 16px;
  line-height: 107%;
  letter-spacing: -7%;
  text-transform: uppercase;
}

/* Corner decorations */
.custom-btn2::before,
.custom-btn2::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
}

/* Top Left */
.custom-btn2::before {
  top: 0px;
  left: 0px;
  border-left: none;
  border-top: none;
}

/* Bottom Right */
.custom-btn2::after {
  bottom: 0px;
  right: 0px;
  border-right: none;
  border-bottom: none;
}

/* Extra corners using span */
.custom-btn2 span::before,
.custom-btn2 span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
}

.custom-btn2 span::before {
  top: 0px;
  right: 0px;
  border-right: none;
  border-top: none;
}

.custom-btn2 span::after {
  bottom: 0px;
  left: 0px;
  border-left: none;
  border-bottom: none;
}
.title-event h1 {
  color: #fff;
  text-align: center;
  font-family: Avenir;
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 107%; /* 44.94px */
  text-transform: uppercase;
}
.title-event p {
  color: #fff;
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: italic;
  /* font-weight: 400; */
  line-height: normal;
}
.bg-event-details {
  background-image: url("../image/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  position: relative;
}
.title-event {
  padding: 200px;
}
.modal .form-control,
.modal .form-select {
  background-color: transparent;
  border-radius: inherit;
  border-bottom: 1px solid #00000033 !important;
  border: none;
  color: #898989;
  margin-bottom: 10px;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
}
.bg-comming-soon {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../image/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-comming-soon .main-title::after,
.bg-comming-soon .main-title::before {
  display: none;
}
.start-soon.vector::before,
.start-soon.vector::after {
  z-index: 1;
}
.start-soon .line {
  z-index: 1;
}
.date-event {
  background-color: #191919;
  padding: 42px 35px;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 6px;
  top: 3px;
}
.time-event{
 background-color: #191919;
  padding: 42px 44px;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 6px;
  top: 3px;
}

.date-event p,
.time-event p {
  color: #fff;
  font-family: Avenir;
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.date-event h6,
.time-event h6 {
  color: #fff;
  font-family: Momken;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.content-event{
padding: 200px 0;
background-color: #0E0E0E;
}
.content-event .content{
  color: rgba(255, 255, 255, 0.10);
font-family: AvenirNext;
font-size: 80px;
font-weight: 700;
line-height: 107%; /* 85.6px */
letter-spacing: -5.6px;
text-transform: uppercase;
text-align: center;
}

/* draw vector */

.vector {
  position: relative;
}

.vector::before {
  content: "";
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 2%;
  background-color: transparent;
  border: 1px solid #ffffff26;
  z-index: -1;
}
.vector::after {
  content: "";
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 2%;
  background-color: transparent;
  border: 1px solid #ffffff26;
  z-index: -1;
}
.line {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: transparent;
  border: 1px solid #ffffff26;
  z-index: -1;
}
.main-title::before {
  content: "";
  width: 456px;
  height: 1px;
  position: absolute;
  top: 54%;
  left: -90px;
  background-color: #ffffff26;
}
.main-title::after {
  content: "";
  width: 456px;
  height: 1px;
  position: absolute;
  top: 54%;
  right: -90px;
  background-color: #ffffff26;
}
.involved-section .main-title::before,
.event2 .main-title::before {
  left: 15px;
  width: 500px;
}
.involved-section .main-title::after,
.event2 .main-title::after {
  right: 15px;
  width: 500px;
}
.artist-section .main-title::after,
.artist-section .main-title::before {
  width: 420px;
}
.service .main-title::before {
  left: 15px;
}
.service .main-title::after {
  right: 15px;
}
.project-section .main-title::after,
.project-section .main-title::before {
  width: 285px;
}
.contact-section .main-title::after,
.contact-section .main-title::before {
  width: 520px;
}
.image-vector {
  position: absolute;
  left: 230px;
  bottom: 0;
}
.vector-join{
  position: relative;
}
.vector-join .vector1{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  left: 0;
}
.vector-join .vector2{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 50%;
  left: 0;
}
.vector-join .vector3{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;
  left: 0;
}
.vector-join .vector4{
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;
  left: 24.5%;
}
.vector-join .vector5{
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;
  left: 41.5%;
}
.vector-join .vector6{
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;
  left: 58.5%;
}
.vector-join .vector7{
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;
  left: 75.5%;
}

@media (max-width: 992px) {
  .vector::before,
  .vector::after,
  .line,
  .main-title::before,
  .main-title::after {
    display: none;
  }
}
